<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding [fullscreen]="true">
  <h2>Lista</h2>
  <input #nameInput type="text" placeholder="Nombre" style="margin: 5px;" />
  <input #dateInput type="date" style="margin: 5px;" />

  <button (click)="addItem(nameInput.value, dateInput.value); nameInput.value =''; dateInput.value='';"
    style="margin: 5px;">Agregar</button>

  <table border="1" style="margin-top: 20px; width: 70%; text-align: left;">
    <thead>
      <tr>
        <th> ID </th>
        <th>Nombre</th>
        <th>Fecha</th>
        <th>Completado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.date}}</td>
        <td>
          <input type="checkbox" [checked]="item.completed" (change)="toggleCompleted(item.id)">
        </td>
        <td>
          <button (click)="removeItem(item.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</ion-content>